<h1>Home/Equipment Rentals Browse</h1>
<%#= cl_image_tag("vc9zn90x5bwecumlyfka",
      width: 400, height: 300, crop: :fill) %>

      <% @equipment.each do |equip|  %>
      <%= cl_image_tag("#{equip.item_url}",width: 400, height: 300, crop: :fill) %>
      <p><%= equip.description %></p>
      <p><%= equip.price %></p>
      <% end %>
