<!-- app/views/shared/_flashes.html.erb -->
<% if alert != nil%>
      <div class="alert alert-warning alert-dismissible show">
        <%= alert %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <%end%>
    <% if notice != nil%>
      <div class="alert alert-success alert-dismissible show">
      <%= notice %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <%end%>
