<div class="nav-bar col-12 d-flex justify-content-around navbar-bottom-color">
  <%= image_tag 'home_pot.svg' %>
  <%= image_tag 'market_pot.svg' %>
  <%= image_tag 'plants_pot.svg' %>
  <%= image_tag 'profile_pot.svg' %>
</div>
