<%# Slider Display LogIn %>
<div class="offcanvas offcanvas-bottom position-absolute canvas-color" tabindex="-1" id="offcanvasLogIn" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header text-center">
      <h4 class="offcanvas-title" id="offcanvasExampleLabel">My Profile</h4>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div>
      <p><button><%= link_to "Login", new_user_session_path %></button></p>
      <p><%= button_to 'Logout', destroy_user_session_path, method: :delete, data: { turbo: :false } %></p>
    </div>
    </div>

  <%# slider Display LogIn end %>
