<%# Slider Display LogIn %>
<div class="offcanvas offcanvas-top h-100 position-absolute canvas-color" tabindex="-1" id="offcanvasLogIn" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header text-center">
    <h3 class="offcanvas-title text-success" id="offcanvasExampleLabel">My Profile</h3>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div>
    <p><%= link_to "Login", new_user_session_path, class:"login_button text-success" %></p>
    <hr>
    <p><%= button_to 'Logout', destroy_user_session_path, method: :delete, data: { turbo: :false }, class:"login_button text-success" %></p>
    <hr>
    <p><%= link_to "Sign up", new_user_registration_path, class:"login_button text-success" %></p>
    <hr>
  </div>
</div>
<%# slider Display LogIn end %>
