.equipment-card {
  box-sizing: border-box;
  position: relative;
  background: rgba(144, 169, 85, 0.5);
  border: 5px solid #ECF39E;
  border-radius: 10px;
  width: 170px;
  height: 170px;
  font-family: 'outfit';
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 5px;
}

.equipment-card p {
  font-size: 10px;
  text-align: center;
}

.equipment-cards {
  padding-top: 5%;
  max-height: calc(100vh - (15vh + 10px));
  overflow-y: auto;
}

.equipment-card {
  perspective: 1000px;
}

.equipment-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.equipment-card .equipment-card-inner.flipped {
  transform: rotateY(180deg);
}

.equipment-card-front,
.equipment-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}

.equipment-card-front {
  background: rgba(144, 169, 85, 0.5);
}

.equipment-card-back {
  background: #f8f9fa;
  color: black;
  padding: 10px;
  box-sizing: border-box;
  transform: rotateY(180deg);
}
