.header {
  height: 5vh;
  width: 100%;
  max-width: 420px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding-top: 0;
  z-index: 1;
}


.header-icon {
  width: 100%;
  height: auto;
  object-fit: cover;
}
