.header {
  height: 15vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding-top: 0;
}


.header-icon {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
