.search {
  position: absolute;
  width: 320px;
  height: 78px;
  left: 20px;
  top: 94px;
}

.search-bar {
  margin: 10px;
  height: 35px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #90A955;
  border-radius: 100px;
}
