.search {
  position: relative;
  width: 80%;
  height: 8vh;
  left: 10%;
  top: 10vh;
  z-index: 1;
}

.search-bar {
  position: fixed;
  top: 15vh;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 420px;
  z-index: 3;
  background: #F3EFE0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
