.search {
  position: absolute;
  width: 80%;
  height: 5vh;
  left: 10%;
  top: 15vh;
}

.search-bar {
  margin: 2%;
  height: 80%;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #90A955;
  border-radius: 100px;
}
