.search {
  position: relative;
  width: 80%;
  height: 8vh;
  left: 10%;
  top: 10vh;
  z-index: 1;
}

.search-bar {
  margin: 2%;
  height: 60%;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #90A955;
  border-radius: 100px;
}
