

.equipment-image {
  position: relative;
  animation: equipment-image 5s infinite alternate;
  max-width: 35%;
  height: auto;
}

@keyframes equipment-image {
  0% {
    left: 0;
  }
  100% {
    left: 50%;
  }
}
