.container {
  max-width: 50%;
  padding: 20px;
}

@media (max-width: 276px) {
  .container {
    padding: 10px;
  }
}

.lawnmower-animation {
  position: relative;
  animation: mowerAnimation 5s infinite alternate;
  max-width: 100%;
  height: auto;
}

@keyframes mowerAnimation {
  0% {
    left: 0;
  }
  100% {
    left: 40%;
  }
}
